$headerHeight: 48px;
$headerCol: #eee;
$oddCol: #eee;

table {
  position: relative;

	width: 100%;
  border-collapse: collapse;
  overflow: auto;
}

td {
  text-align: left;
  padding: 8px 4px;
}

th {
  position: sticky;
  top: 0px;

  background-color: #eee;
}

th.more {
  right: 0;
}

tr:nth-child(odd) {
  background-color: #f6f6f6;
}

td.group-header {
  background-color: #ddd;
  position: sticky;
  top: $headerHeight;
}

.header button {
  height: $headerHeight;
  width: 100%;
}

.header th {
  padding: 0;
}

.more button {
  width: 2.5rem;
}
