<table>
  <tr class="header">
    <th v-for="{ id, title } of columns" :key="id">
      <button>
        {{ title }}
      </button>
    </th>
    <th class="more">
      <button>+</button>
    </th>
  </tr>

  <template v-for="(record, index) of records">
    <tr v-if="groupHeaderIndices.includes(index)">
      <td
        :colspan="columns.length + 1"
        class="group-header"
      >{{ record.type }}</td>
    </tr>
    <tr>
      <td v-for="{ id, key } of columns" :key="id">{{ record[key] }}</td>
      <td />
    </tr>
  </template>
</table>
