<template>
  <div class="content">
    <label>
      <input type="checkbox" v-model="isGrouped"> grouped
    </label>

    <div class="outer-wrapper">
      <div class="table-wrapper">
        <v-table
          v-if="data"
          :records="data.records"
          :columns="columns"
          :groupBy="data.groupBy"
        />
        <div v-else>loading...</div>
      </div>
    </div>
    <div class="footer">
      footer
    </div>
  </div>
</template>

<script>
import { API } from '@/mock/api';
import VTable from '@/components/VTable';

export default {
  name: 'App',
  components: { VTable },
  data: () => ({
    isGrouped: false,
    data: undefined,
    columns: [
      { id: 1, key: 'company', title: 'Company' },
      { id: 2, key: 'contact', title: 'Contact' },
      { id: 3, key: 'email', title: 'Email' },
      { id: 4, key: 'phone', title: 'Phone' },
      { id: 5, key: 'country', title: 'Country' },
      { id: 6, key: 'city', title: 'City' },
      { id: 7, key: 'street', title: 'Street' }
    ]
  }),
  mounted() {
    API.load().then(data => this.data = data);
  },
  watch: {
    isGrouped(val) {
      API.load(1, 25, val && { groupBy: 'type'})
        .then(data => this.data = data)
    }
  }
}
</script>

<style>
body {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.outer-wrapper {
  position: relative;
  flex: 1;
}

.table-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

button {
  margin: 0;
  padding: 0;
  border-width: 0;

  color: inherit;
  text-align: inherit;

  background-color: transparent;
  cursor: pointer;
}
</style>
